<p style="color: green"><%= notice %></p>

<%= render @liki %>

<div>
  <%= link_to "Edit this liki", edit_liki_path(@liki) %> |
  <%= link_to "Back to likis", likis_path %>

  <%= button_to "Destroy this liki", @liki, method: :delete %>
</div>
